.container {
  display: flex;
}
nav {
  display: flex; /* modo flexbox */
  justify-content: space-evenly;
  align-items: space-between;
  background-color: #48944c; /* color de fondo */
}
nav img {
  width: 150px;
}
body {
  background-color: #dfdfdf;
  font-family: Arial, sans-serif;
  margin: 200;
}
.card {
  margin: 20px; /* espacio de 20px alrededor de la tarjeta */
  width: 300px; /* ancho de la tarjeta */
  border-radius: 20px; /* radio del boder de la tarjeta */
  box-shadow: 0px 5px 10px #946448; /* sombra de la tarjeta */
  overflow: hidden; /* oculta los trozos de la imagen que quedan fuera de la tarjeta */
  font-family: Georgia, "Times new roman", Times, serif; /* tipo de letra */
}
.card img {
  width: 100%; /* toma todo el ancho segun el tamaño del DIV */
}
.card h1 {
  text-align: space-between; /*centrar el h1 */
  font-size: 20px; /* tamaño de letra del h1 */
  color: darkgray; /* cpñpr deñ textp del h1 */
}

.card h2 {
  font-size: 15px; /* tamaño del texto del h2 */
}

.card-content {
  padding: 10px; /* hacemos espacio dentro del DIV */
}
